# Accenture Data Analytics Virtual Programme

## Task 1 - Data Cleaning

In [1]:
# Library for Data Modeling and Cleaning
import pandas as pd

In [2]:
# Importing Data
content = pd.read_csv('Content.csv')
reactions =pd.read_csv('Reactions.csv')
reaction_types = pd.read_csv('ReactionTypes.csv')

In [3]:
# for upper most columns
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [5]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [6]:
# Dropping Unwanted Columns
content.drop('Unnamed: 0', axis = 1, inplace = True)
reactions.drop(['Unnamed: 0','User ID'], axis = 1, inplace = True)
reaction_types.drop('Unnamed: 0', axis = 1, inplace = True)

In [7]:
# merging reaction types with reactions 
join_1 =pd.merge(reaction_types, reactions, on = ['Type'], how = 'inner')

In [8]:
# Upper Columns of Merged Dataset (reaction and reaction Types)
join_1.head()

,Type,Sentiment,Score,Content ID,Datetime
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-11 14:29:59
1,heart,positive,60,9f737e0a-3cdd-4d29-9d24-753f4e3be810,2021-06-16 03:02:28
2,heart,positive,60,230c4e4d-70c3-461d-b42c-ec09396efb3f,2020-12-25 00:09:41
3,heart,positive,60,230c4e4d-70c3-461d-b42c-ec09396efb3f,2020-06-21 16:57:09
4,heart,positive,60,230c4e4d-70c3-461d-b42c-ec09396efb3f,2021-05-14 12:47:27

In [9]:
# Merging join_1 with content
join_2 =pd.merge(join_1, content, on = ['Content ID'], how = 'inner')

In [10]:
# # Upper Columns of Merged Dataset( join_1 and Content)
join_2.head()

,Type_x,Sentiment,Score,Content ID,Datetime,User ID,Type_y,Category,URL
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-11 14:29:59,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,want,positive,70,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-02-13 07:54:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
2,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
3,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
4,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-09 02:46:20,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...

In [11]:
# Storing final data set in variable for further analysis
final = join_2

In [12]:
# data information
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 0 to 24572
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Type_x      24573 non-null  object
 1   Sentiment   24573 non-null  object
 2   Score       24573 non-null  int64
 3   Content ID  24573 non-null  object
 4   Datetime    24573 non-null  object
 5   User ID     24573 non-null  object
 6   Type_y      24573 non-null  object
 7   Category    24573 non-null  object
 8   URL         20056 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.9+ MB

In [13]:
final.isnull().sum()

Type_x           0
Sentiment        0
Score            0
Content ID       0
Datetime         0
User ID          0
Type_y           0
Category         0
URL           4517
dtype: int64

In [14]:
# Dropping URL
final.drop(['URL'], axis = 1, inplace = True)

In [15]:
final.head()

,Type_x,Sentiment,Score,Content ID,Datetime,User ID,Type_y,Category
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-11 14:29:59,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,want,positive,70,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-02-13 07:54:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
2,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
3,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
4,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-09 02:46:20,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying

In [16]:
final['Type_x'].unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'like', 'dislike', 'intrigued',
       'peeking', 'scared', 'worried', 'adore'], dtype=object)

In [17]:
final['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'dogs',
       'public speaking', 'science', 'tennis', 'food', 'soccer',
       'education', 'studying', 'travel', 'veganism', 'cooking',
       'animals', 'fitness', '"culture"', 'culture', 'Fitness',
       '"studying"', '"animals"', 'Travel', 'Animals', 'Education',
       '"dogs"', 'Soccer', '"soccer"', 'Culture', 'Food', '"technology"',
       'Healthy Eating', '"cooking"', 'Science', 'Public Speaking',
       'Veganism', '"public speaking"', '"veganism"', '"science"',
       'Technology', '"food"'], dtype=object)

In [18]:
# Converting to lower to address column for categorical variable
final['Category'] = final['Category'].replace('"', '', regex = True)
final['Category'] = final['Category'].str.lower()

In [19]:
final['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'dogs',
       'public speaking', 'science', 'tennis', 'food', 'soccer',
       'education', 'travel', 'veganism', 'cooking', 'animals', 'fitness',
       'culture'], dtype=object)

In [20]:
final.head(6)

,Type_x,Sentiment,Score,Content ID,Datetime,User ID,Type_y,Category
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-11 14:29:59,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
1,want,positive,70,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-02-13 07:54:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
2,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
3,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
4,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-09 02:46:20,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
5,hate,negative,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-01-27 08:32:09,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying

In [21]:
final.rename({'Type_x':'Reaction'}, axis = 1, inplace = True)
final.rename({'Type_y':'Type'}, axis = 1, inplace = True)

In [22]:
final.head()

,Reaction,Sentiment,Score,Content ID,Datetime,User ID,Type,Category
0,heart,positive,60,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-11 14:29:59,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
1,want,positive,70,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-02-13 07:54:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
2,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2020-11-07 09:43:50,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
3,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-01-06 19:13:01,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
4,disgust,negative,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,2021-04-09 02:46:20,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying

In [23]:
# exporting Merged CSV
final.to_csv('clean.csv', index = False)

In [24]:
# Task 1 Completed